@using Microsoft.Extensions.Localization
@model E_Share.Models.ApplicationUserRole

@{
    ViewData["Title"] = "Assign role";
}

<h1>@ViewData["Title"] : @Model.User.UserName </h1>

@*<h4>ApplicationUserRole</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-controller="Users" asp-route-Id="@Model.User.Id"><span class="oi oi-arrow-thick-left"></span></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
